# Modules pour l'exécution du projet
colorama
matplotlib
numpy

# Modules pour l'exécution des tests
pyyaml
pytest==6.2.5
mock==4.0.3
pytest-html
pytest-mock
pytest-datadir-ng
pytest-pythonpath==0.7.3
pytest-timeout
pytest-cov
pytest-datadir-ng
requests
